.sessionID {
    --w: 30px;   /* control the width for each letter */
    --g: 5px; /* the gap between letters */

    font-size: 32px;  
    line-height: 40px; /* control the height */
    letter-spacing: var(--w);
    font-family: monospace;
    width: 310px;
    transform: translateX(8px);
    margin: 10px 0px 0px 0px;
    padding-left:11px;
    padding-top:10px;
    padding-bottom: 5px;
    clip-path: inset(0 15px 0 0);
    justify-content: center;
    background:
    repeating-linear-gradient(90deg,
        light-dark(var(--color-light-bg), var(--color-dark-grey)) 0 var(--border-width), /*left edge of block*/
        light-dark(var(--color-light-white), var(--color-mid-grey)) 0 calc(1ch + var(--w) - var(--g) - var(--border-width)),/*colour of the ID blocks*/
        light-dark(var(--color-light-bg), var(--color-dark-grey)) 0 calc(1ch + var(--w) - var(--g)), /*right edge o blocks*/
        light-dark(var(--color-light-bg), var(--color-dark-grey)) 0 calc(1ch + var(--w)));/*colour of gaps between the ID blocks*/
}
/* .table {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    row-gap: 10px;
} */


/* .cameraFill {
    display: block;
    position: absolute;
    top:10px;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 260px;
    border-radius: 100%;
    background-color: light-dark(var(--color-light-bg), var(--color-dark-grey));
    z-index: 2;
} */
.camera {
    /* display: block; */
    position: relative;
    top:10px;
    left: 22px;
    margin-bottom: 30px;;
    object-fit: cover;
    width: 260px;
    height: 260px;
    border-radius: 100%;
    /* background-color: black; */
    background-color: light-dark(var(--color-light-white), var(--color-dark-grey))!important;
    opacity: 1;
    z-index: 3;
}
.meterGraph {
    position: absolute;
    /* top: 15px; */
    left: 50%;
    transform: translateX(-50%);
    padding:10px;
    overflow: hidden;
    height: 280px;
    width: 280px;
    border-radius: 100%;
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-dark-grey));
    background-color: light-dark(white, var(--color-dark-bg));
}


.blur {
	-webkit-backdrop-filter:  brightness(.8) blur(50px) contrast(0.8);
	backdrop-filter:  brightness(.8) blur(50px) contrast(0.8);
}
.siteHeader{
    position: relative;
    width:100%;
    display: block;
    height: 650px;
    width: 100%;
 	-webkit-backdrop-filter:  brightness(0.7);
	backdrop-filter:  brightness(0.7);
    margin:0px;
    padding:0px;
    }
.siteMainIcon {
	position: relative;
	display: inline;
	top: 45px;
	left: -150px;
	height: 120px;
	width: 120px;
	}
.siteTitle {
	position: relative;
	display: inline;
	font-size: 110px;
	font-weight: 500;
	color: #ffffff;
	top: 25px;
	left: -130px;
	}
.siteSubTitle {
	position: relative;
	display: inline-block;
	/* left: 90px; */
	font-size: 78px;
	font-weight: 300;
	color: #ffffff;
	top: 45px;
	}

h4 {
	position: relative;
	display: inline;
	font-size: 50px;
	font-weight: 300;
	}
h5 {
	position: relative;
	display: inline;
	font-size: 14px;
	font-weight: 300;
	}
.text{
	position: relative;
	justify-content: center;
	margin: auto;
	width: 800px;
    color: light-dark(var(--color-light-grey), var(--color-light-grey));
	}
.footer {
    display: block;
	/* height: 300px; */
    margin-bottom: -20px;
	background-color: var(--color-dark-bg);
	}

.textBackground {
    margin-top:-20px;
    margin-bottom:-20px;
    /* width: 100vw; */
    padding: 0px;
    display: block;
    background-color: light-dark(var(--color-light-bg), var(--color-dark-grey));
	}
sup{
    font-size: 16px;
    vertical-align: super;
    line-height: 0;
}
