@media (max-width: 760px) {

	/* .volume, #toolMuteCamera {
        display: none;
    } */
	.volume {
		display: none;
	}

	.siteHeader {
		height: 400px;
	}

	.text {
		max-width: 550px;
	}

	.siteTitle {
		font-size: 80px;
	}

	.siteSubTitle {
		font-size: 50px;
	}

	h4 {
		font-size: 25px;
	}

	img {
		scale: 0.85;
		transform-origin: 0%;
	}

	.peerList {
		display: none;
	}

	.mainViewer {
		width: 100%;
		top: 2px;
		margin: 0px;
	}

	.mainZoom {
		top: 0px;
		left: 0px;
		margin: 0px;
		width: 100%;
	}

	.toolbar-section.center {
		justify-content: flex-end;

	}

	.toolbar-section.right {
		display: none;
		flex: 0;
		justify-content: flex-end;
		min-width: 0px;
	}
}

@media (max-width: 420px) {
	#toolMuteCamera {
		display: none;
	}
	#paletteDialog {
		min-width:360px;
	}
	#camSelect {
		display:none;
	}
	.siteHeader {
		height: 330px;
	}

	.text {
		max-width: 300px;
	}

	.siteTitle {
		font-size: 90px;
	}

	.siteSubTitle {
		font-size: 32px;
	}

	h4 {
		font-size: 25px;
	}

	img {
		scale: 1;
	}

	.peerList {
		display: none;
	}

	#topmenu {
		display: none;
	}

	.peerList {
		display: none;
	}

	.mainViewer {
		width: 100%;
		top: 2px;
		margin: 0px;
	}

	.mainZoom {
		top: 0px;
		left: 0px;
		margin: 0px;
		width: 100%;
	}
}

@media (max-height: 430px) {
	.peerList {
		display: none;
	}

	.peerList {
		display: none;
	}

	.mainViewer {
		width: 100%;
		top: 2px;
		margin: 0px;
	}

	.mainZoom {
		top: 0px;
		left: 0px;
		margin: 0px;
		width: 100%;
	}
}