
#zoom-popup {
    top: 15px!important;
}
.mainViewer {
	height: 100dvh!important;
    top: 0px!important;
	left:0px;
	width:100%;
	height: 100dvh;
	max-width:100%;
	max-height:100dvh;
}

.mainZoom {
	margin-left:5px;
	width:100%;
	left:0px;
}
.mainStream {
	left:0px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
