/*generate new SID icon controls*/

.helpicon {

  position: absolute;
  right: 20px;
  top: 16px;
  cursor: pointer;
  z-index: 10;

}

.videosource, .camera {
    display: inline;
    position: relative;
    object-fit: contain;
    width: 265px;
    height: 190px;
    border-top-left-radius: var(--radius-big);
    border-bottom-left-radius: var(--radius-big);
    background-color: light-dark(var(--color-light-white), var(--color-dark-bg))!important;
}
.meterGraph{
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 190px;
    width:10px;
    left: 1px;
    border-top-right-radius: var(--radius-big);
    border-bottom-right-radius: var(--radius-big);
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-dark-grey));
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}
/* 
.buttonmoresettings {
    position: relative;
    display: inline;
    width: 200px;
    padding-right:0px;
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}
.buttonmoresettings[aria-expanded="true"]::after {
    transform: rotate(180deg) translateY(50%);
} */

/*quit menu confirmation*/
.confirmpopup {
    position: absolute;
    display: block;
    height: var(--button-height);
    right: 5px;
    top: 5px;
    border: 0px;
    /* color: light-dark(var(--color-light-grey), var(--color-light-grey)); */
    /* background-color: light-dark(var(--color-light-bg), var(--color-dark-bg)); */
    border-radius: var(--radius-big);
    z-index: 10;
    box-shadow: none!important;
    padding:0px; margin:0px; left:auto; 
    width:240px

}
#confirmQuit {
position: absolute;
top:0px;
right:0px;
}
dialog#historyDialog {
    margin-left : auto;
    margin-right : auto;
    left:5px;
    padding: 10px!important;
    top:150px;
    z-index: 15!important;
    box-shadow: var(--shadows);
    transition: opacity 0.3s ease;

}
dialog#shareDialog {
    padding: 10px!important;
}

dialog#historyDialog .link {
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;

}

dialog#historyDialog .link h2 {
    flex: 1;
    width: 400px; 
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

dialog#historyDialog .link span { 
    width: 140px;  
    text-align: right; 
    margin-left: 5px; 
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 16px;
}

#settingsDialogProjectID {
    grid-template-columns: 110px auto;
    align-items: center;
}

#toolHistory {
    justify-self: end; 
}

#settingsDialogProjectID > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 0px;   
    white-space: nowrap;
}

#project, #password {
    flex: 1;     
	/* border-bottom-right-radius: 0px; */
	/* border-top-right-radius: 0px; */
    /* min-width: 400px; */
 
}

#settingsDialogSessionSettings {
    grid-template-columns: 110px  auto;  
    align-items: center;
}

#moresettings {
    grid-template-columns: 110px  auto;  
    align-items: center;
    max-height: 400px;
}
#historyButton {
    display: inline-flex;
    position: relative;
    height: var(--button-height);
	margin-right:0px;
	padding-right:0px;
	margin-left:-10px;
    width:70px;
    left:0px;
    top:0px;
    z-index: 4;
    /* height:38px; */
    outline: 0px!important;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
#toolHistory {
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}
.historyHeader{
	position: absolute;
	margin: 0px;
	top:0px;
	left:0px;
	width:100%;
	text-align: center;
	padding: 10px 0px;
    color: light-dark(var(--color-dark-grey), var(--color-mid-grey));
    /* background-color: light-dark(var(--color-light-white), var(--color-mid-grey));  */
}

#createOptional {
    margin-bottom: 5px;
}

.collapsed {
    /* display:none; */
    overflow: hidden;
    max-height: 0px!important;
        transition:
        max-height 0.2s ease,
        opacity 0.2s ease;
}

#popupHistoryBG {
    z-index: 11;
}

.peerList {
	top: 50px;
	height: calc(100% - 130px);
}
