.tableStream {
	position: relative;
	display: grid;
	grid-template-columns: 105px auto auto;
	/* grid-template-rows: repeat(4, 40px); */
	column-gap: 5px;
	row-gap: 3px;
	width: 100%;
	/* border: 1px solid black; */
}

.tableStream>div {
	flex: 1;
	text-align: left;
	align-content: center;
	/* border: 1px solid black; */
}

.hideTableColumn {
  grid-template-columns: 105px auto; /* remove preview areas */
}

.helpicon {
  position: absolute;
  right: 18px;
  top: 12px;
  cursor: pointer;
  z-index: 10;

}

.videosource {
    display: block;
    position: relative;
    object-fit:contain;
	top:0px;
	right:0px;
    width: 260px;
    height: 150px;
    border-top-left-radius: var(--radius-big);
    border-top-right-radius: var(--radius-big);
    background-color: light-dark(var(--color-light-white), var(--color-dark-bg))!important;
}

.camera {
    display: block;
    position: relative;
    object-fit: cover;
	top:0px;
	right:0px;
    width: 260px;
    height: 150px;
    border-top-left-radius: var(--radius-big);
    border-top-right-radius: var(--radius-big);
    background-color: light-dark(var(--color-light-white), var(--color-dark-bg))!important;
}

.meterGraph{
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 13px;
    width:260px;
    /* left: 0px; */
	bottom:0px;
	right:0px;
    border-bottom-left-radius: var(--radius-big);
    border-bottom-right-radius: var(--radius-big);
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-dark-grey));
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}

.meter {
	position: absolute;
	display: inline-block;
	color: light-dark(var(--color-light-grey), var(--color-light-grey));
	background-color: dodgerblue;
	left: 0px;
	width: 0%;
	height: 15px;
	bottom: 0px;
	transition: width 100ms linear;
}

/*quit menu confirmation*/
.confirmpopup {
    position: absolute;
    display: block;
    height: var(--button-height);
    right: 5px;
    top: 5px;
    border: 0px;
    /* color: light-dark(var(--color-light-grey), var(--color-light-grey)); */
    /* background-color: light-dark(var(--color-light-bg), var(--color-dark-bg)); */
    border-radius: var(--radius-big);
    z-index: 10;
    box-shadow: none!important;
    padding:0px; margin:0px; left:auto; 
    width:240px

}
#confirmQuit {
	position: absolute;
	top:0px;
	right:0px;
}

dialog#historyDialog {
    margin-left : auto;
    margin-right : auto;
    left:5px;
    padding: 10px!important;
    top:150px;
    z-index: 15!important;
    box-shadow: var(--shadows);
    transition: opacity 0.3s ease;

}

dialog#shareDialog {
    padding: 10px!important;
}

dialog#historyDialog .link {
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;

}

dialog#historyDialog .link h2 {
    flex: 1;
    width: 400px; 
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

dialog#historyDialog .link span { 
    width: 140px;  
    text-align: right; 
    margin-left: 5px; 
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 16px;
}

#project {
	width:420px;
}

#historyButton {
    display: block;
    position: absolute;
	margin-right: 0px;
	top: -5px;
    right:0px;
    outline: 0px!important;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

#toolHistory {
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}

.historyHeader{
	position: absolute;
	margin: 0px;
	top:0px;
	left:0px;
	width:100%;
	text-align: left;
	padding: 10px 20px;
    color: light-dark(var(--color-dark-grey), var(--color-mid-grey));
	cursor: default;
	/* border-bottom: 5px solid light-dark(var(--color-light-grey), var(--color-mid-grey)); */
    /* background-color: light-dark(var(--color-light-white), var(--color-mid-grey));  */
}

#createOptional {
    margin-bottom: 10px;
}

.collapsed {
    /* display:none; */
    overflow: hidden;
    max-height: 0px!important;
        transition:
        max-height 0.2s ease,
        opacity 0.2s ease;
}

#popupHistoryBG {
    z-index: 11;
}

.peerList {
	top: 50px;
	height: calc(100% - 100px);
}
