:root {  
    color-scheme: light dark;
   
    --color-dark-bg: #141414;
    --color-dark-grey: #282828;
    --color-mid-grey: #3c3c3c;
    --color-light-grey: #949494;
    --color-light-white: #e0e0e0;
    --color-light-bg: #f0f0f0;
    --color-red: #be0000;
    
    --radius-big: 10px;
    --radius-small: 5px;
    --button-height: 40px;
    --button-width: 60px;
    --button-wide-width: 80px;
    --border-width: 1px;

    --shadows: 0px 0px 40px 0px rgba(0,0,0,0.05);
}
* {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    border: 0px;
    box-sizing: border-box;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: 300;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
}
a {
    text-decoration: none;
    color: light-dark(var(--color-light-grey), var(--color-light-grey)); 
}
a:hover {
    color: light-dark(var(--color-dark-bg), var(--color-light-bg)); 
}

body {
    margin: 0px;
    background-color: var(--color-mid-grey);
    background-attachment: fixed ;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}
@media (prefers-color-scheme: dark) {
    body {
        background-image: url(../images/background-dark.jpg); 
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-image: url(../images/background-light.jpg);
    }
}

hr {
    margin: 10px 0px;
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-mid-grey));
}
h2 {
    position: relative;
    display: inline-flex;
    margin:0px;
    font-weight: 400;
    font-style: normal;
    color: light-dark(var(--color-dark-bg), var(--color-light-bg)); 
}
/*
h3 {
    font-size: 16px;
    color: light-dark(var(--color-light-grey), var(--color-light-grey));
}
*/

/*dialog boxes shared settings*/
dialog {
    opacity: 0;
    transition: all 200ms allow-discrete;
    position: absolute;
    display: block;
    left: 0px;
    width: fit-content;
    height: fit-content;
    justify-items: center;
    text-align: center;
    padding: 20px;
    color: light-dark(var(--color-light-grey), var(--color-light-grey));
    background-color: light-dark(var(--color-light-bg), var(--color-dark-grey));
    border-radius: var(--radius-big);
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-dark-grey));
    z-index: 10;
    box-shadow: var(--shadows);
} 
dialog::backdrop {
  background: var(--color-mid-grey);
}
dialog:open {
  opacity: 1;
}
@starting-style {
  dialog:open {
    opacity: 0;
  }
}

/*table styles shared*/
.table > div {
    text-align: left;
    align-content: center;
}

/*Iframe settings for the main content area*/
iframe {
	width: 100%;
	height: calc(100% - var(--button-height) - var(--button-height) - 20px);
    top: calc(0px + var(--button-height) + 10px);
    margin-left: 0px;
	border:0px;
	padding:0px;
	position: fixed;
    background-color: var(--color-mid-grey);
}
.mainstreamiframe {
    background-color: var(--color-mid-grey);
	width: calc(100% - 110px);
    left:110px;
	z-index: 0;
}
.viewersiframe {
    background-color: var(--color-mid-grey);
	width:110px;
	left:0px;
	overflow-y: auto;
    overflow-x: hidden;
    z-index:1;
}
.viewersiframe:hover {
	width:300px;
	box-shadow: 0 0 100px 0px rgba(0, 0, 0, 0.5);
    transition-timing-function: linear;
    transition: all 150ms;
}

/*center elements horizontally used for login and popup dialogs*/
.centerhorizontal {
    position: relative;
    top: calc(var(--button-height) + 15px);
    margin: auto;
    margin-bottom: 5px;
}

/*remove system highlight around forms etc */
[contenteditable] {
    outline: 0px solid transparent;
}
.textinput {
    position: relative;
    width: 200px;
    padding: 5px 15px;
    height: var(--button-height);
    border-radius: var(--radius-big);
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-dark-grey));
}

/*botton styles, including red / blue and more settings*/
button {
    position: relative;
    height: var(--button-height);
    width: fit-content;
    display: block;
    border-radius: var(--radius-big);
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-mid-grey));
    height: var(--button-height);
    cursor: pointer;
    color: light-dark(var(--color-light-grey), var(--color-light-grey));
    background-color: light-dark(var(--color-light-bg), var(--color-dark-grey));
}
.selected, .buttonmoresettings:hover {
    color: light-dark(var(--color-dark-grey), var(--color-light-white))!important;
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey))!important;
}
.selectedred {
    color: light-dark(var(--color-light-bg), var(--color-light-white))!important;
    background-color: var(--color-red)!important;
}
.buttonblue:hover {
    color: light-dark(var(--color-light-bg), var(--color-light-white));
    background-color: dodgerblue;
}
.buttonWider {
    padding: 0px 80px 0px 80px;
}

/*custom dropdown selector*/
select { 
    appearance: none;
    width: 200px;
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-dark-grey));
    border-radius: var(--radius-big);
    padding: 8px 10px 8px 20px;
    color: light-dark(var(--color-light-grey), var(--color-light-grey)); 
    cursor: pointer;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    height: var(--button-height);
    border-radius: var(--radius-big);
}
select:hover, select:active{
    color: light-dark(var(--color-dark-bg), var(--color-light-white));
}
/*add divider before dropdown arrow*/
.custom-select::before, .buttonmoresettings::before {
    position: absolute;
    content: "";
    top: 1px;
    right: 0px;
    width: 28px;
    height: calc(var(--button-height) - 4px);
    border:0px;
    border-left: 1px solid light-dark(var(--color-light-bg), var(--color-dark-grey));
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
    border-top-right-radius: var(--radius-big);
    border-bottom-right-radius: var(--radius-big);;
    pointer-events: none;
}
/*add dropdown arrow*/
.custom-select::after, .buttonmoresettings::after {
    position: absolute;
    content: "";
    right: 9px;
    top: 16px;
    border: 6px solid transparent;
    border-color: light-dark(var(--color-mid-grey), var(--color-light-grey)) transparent transparent transparent;
    pointer-events: none;
    transition: transform ease-in-out 0.3s;
}

/*radio button customization*/
.radioset {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:200px;
    height: var(--button-height);
    border-radius: var(--radius-big);
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-mid-grey));
}
label:has([type=radio]) {
    display: inline-flex;
    align-items: center;
    width: 94px;
    height: var(--button-height);
    justify-content: center;
    padding: 10px;
}
label:has([type=radio]:not(:disabled)) {
    cursor: pointer;
}
[type=radio] {
    appearance: none;
    display:none;
    width: 0px;
    height: 0px;
}
label:has([type=radio]:not(:disabled):hover) {
    color: light-dark(var(--color-dark-grey), var(--color-light-white));
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}
label:has([type=radio]:checked) {
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
    color: light-dark(var(--color-dark-grey), var(--color-light-white));
}
label:has([type=colorpot]:not(:disabled):hover) {
    color: light-dark(var(--color-dark-grey), var(--color-light-white));
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}
label:has([type=colorpot]:checked) {
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
    color: light-dark(var(--color-dark-grey), var(--color-light-white));
}

/*toolbars, top and bottom and tool sets (groups)*/
.toolbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(var(--button-height) + 10px);
    margin: 0px;
    padding: 0px;
    z-index: 1;
    background-color: light-dark(var(--color-light-bg), var(--color-dark-grey)); 
}
.toolbar.top {
    top: 0px;
}
.toolbar.bottom {
    bottom: 0px;
}
.toolset {
    border-radius: var(--radius-big);
    outline: var(--border-width) solid light-dark(var(--color-light-white), var(--color-mid-grey));

    overflow: hidden;
    width: fit-content;
    height: var(--button-height);
    margin: 5px;
}

/*flexible spacer for gaps between tool sets*/
.toolspacer {
    margin-right:auto;
}

/*tool buttons*/
.tool {  
    border-radius: 0px;
    width: var(--button-width);
    height: var(--button-height);
    float: left;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    color: light-dark(var(--color-light-grey), var(--color-light-grey));
    background-color: light-dark(var(--color-light-bg), var(--color-dark-grey));
}
.tool:hover {
    color: light-dark(var(--color-dark-grey), var(--color-light-bg));
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}

.toolred:hover {
    color: light-dark(var(--color-light-bg), var(--color-light-bg));
    background-color: var(--color-red)
}
/*add divider for tool buttons that show popup windows*/
.toolmoresettings {
    width: calc(var(--button-width) + 30px);
    justify-content: center;
    padding-right:30px;
}
.toolmoresettings[aria-expanded="true"] {
    color: light-dark(var(--color-dark-grey), var(--color-light-bg));
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}
.toolmoresettings::before {
    position: absolute;
    content: "";
    top: 1px;
    right: 0px;
    width: 28px;
    height: calc(var(--button-height) - 4px);
    border:0px;
    border-left: 1px solid light-dark(var(--color-light-white), var(--color-mid-grey));
    pointer-events: none;
}
.toolmoresettings[aria-expanded="true"]::before{
    border-left: 1px solid light-dark(var(--color-light-bg), var(--color-dark-grey));
}
 /*add dropdown arrow*/
.toolmoresettings::after {
    position: absolute;
    content: "";
    right: 9px;
    top: 16px;
    border: 6px solid transparent;
    border-color: light-dark(var(--color-light-grey), var(--color-light-grey)) transparent transparent transparent;
    pointer-events: none;
    transition: transform ease-in-out 0.3s;
}
.disable, .disable:hover, .disable::after {
    opacity: 0.5;
    color: light-dark(var(--color-light-grey), var(--color-mid-grey));
    background-color: light-dark(var(--color-light-bg), var(--color-dark-grey));
    cursor: default;
}

/*volume slider*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 120px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
    margin-top:17px;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: light-dark(var(--color-light-white), var(--color-mid-grey));
    border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 6px;
    width: 10px;
    background-color:  light-dark(var(--color-light-grey), var(--color-light-grey));
    border-radius: 50%;
    box-shadow: -407px 0 0 400px light-dark(var(--color-light-grey), var(--color-light-grey));
}
.volume {
    width: 120px;
    height: var(--button-height);
    margin-left: 20px;
    margin-right:20px;
}

/*background object for popup windows*/
.popupBG {
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 9;
}

/*popup windows for setting, share and color palette*/
.toolpopup {
    position: absolute;
    margin: 0px;
    z-index: 10;
} 
.toolpopup.top {
    top: calc(15px + var(--button-height));
}
.toolpopup.bottom {
    bottom: calc(15px + var(--button-height));
}
.toolpopup.right {
    right: 5px;
}
.toolpopup.left {
    position: fixed;
    left: 5px!important;
}
.toolpopup.middle {
    left: 50%;
    transform: translateX(-50%);
    padding:20px;
}
.toolpopup.bottom::after {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-color: light-dark(var(--color-light-bg), var(--color-dark-grey)) transparent transparent transparent;
}
.toolpopup.right::after {
    right: 40px;
    bottom: -20px;
}
.toolpopup.left::after {
    left: 25px;
    bottom: -20px;
}
.toolpopup.middle::after {
    left: 50%;
    transform: translate(-50%, 0px);
    bottom: -20px;
}
.toolpopup.top::before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-color: transparent transparent light-dark(var(--color-light-bg), var(--color-dark-grey)) transparent;
}
.toolpopup.top.left::before {
    left: 25px;
    top: -20px;
}
.toolpopup.top.right::before {
    right: 20px;
    top: -20px;
}
.colorpot{
    display: inline-flex;
    position: relative;
    padding: 0px;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: var(--radius-small);
    cursor: pointer;
}
.selectedcolorpot, .colorpot:hover  {
    outline: var(--border-width) solid light-dark(var(--color-light-grey), var(--color-mid-grey));
    outline-offset: 5px;
}
.share {
  padding: 5px;
  border: 0px;
} 
.link {
    position: relative;
    text-align: left;
    margin: 0px;
    padding: 15px;
    border:0px;
    width: 100%;
    height: fit-content;
}
.link:hover {
    color: light-dark(var(--color-dark-grey), var(--color-light-grey));
    background-color: light-dark(var(--color-light-white), var(--color-mid-grey));
}
.warning {
    justify-content: center;
    align-items: center;
    justify-items: center;
    border:0px solid var(--color-light-bg);
    padding:10px 60px;
    background-color: var(--color-red);
}
.notification {
    justify-content: center;
    align-items: center;
    justify-items: center;
    border:0px solid var(--color-light-bg);
    padding:10px 60px;
}
/*for tool tips use  data-tooltip="Generate new random ID" in HTML tag, not currently active*/
[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    width:400px;
    content: attr(data-tooltip);
    background: light-dark(var(--color-light-white), var(--color-mid-grey));
    padding: 10px;
    border-radius: var(--radius-big);
    border: var(--border-width) solid light-dark(var(--color-light-white), var(--color-dark-grey));
    z-index:10;
  }

/*canvas settings for annotations (drawing)*/
.annotationsCanvas {
    position: absolute;
    display: block;
    border: 1px solid transparent;
    top: 0px;
    width: 0px;
    height: 0px;
    cursor: default;
}

/* hide elements - must be last to over ride other styles*/
.hidden {
    display:none;
}

/*display customizations based on screen size for mobile devices*/
@media (max-width: 760px) {
    .volume, .text {
        display: none;
    }
}
@media (max-width: 520px) {
    .volume, .text, #toolAnnotations, #viewersStream {
        display: none;
    }
}
@media (max-height: 430px) {
    #topmenu {
        display: none;
    }
    .viewersiframe, .mainstreamiframe {
        top: 0px;
    }
}

/*animations*/  
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--color-red); }
    100% {  box-shadow: 0 0 0 10px rgba(200, 60, 60, 0); }
}
@keyframes shake {
	0% {transform: translateX(0px); }
	15% {transform: translateX(-5px);}
	30% {transform: translateX(10px);}
	45% {transform: translateX(-15px);}
	60% {transform: translateX(15px);}
	75% {transform: translateX(-5px);}
	100% {transform: translateX(0px); animation-timing-function: ease-in;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
