video {
	position:absolute;
    display: inline;
    top:-10px;
    left:0px;
	width:80px!important;
	height:80px!important;
	border-radius:100%!important;
	object-fit:cover!important;
	background-size: cover;
	opacity:0.6!important;
    margin:0px!important;
    padding:0px!important;
    
}	

#guestFeeds{
    position:relative;
    top:0px;
    margin:0px!important;
    padding:0px!important;
    background-color: transparent!important;
}

.signal-meter{
	left: 261px;
	top: -10px;
    
	pointer-events:none;
	background-color: #00000000;
	font-size: 18px;
	color: #e0e0e0!important;
    opacity:0.5;
}
#context-menu-video{
	display:none!important;
}

.video-meter2 {
    display: inline-block;
    padding: 0px;
    width:7px;
    bottom: -41px;
    border:0px;
    left: 287px;
    position: absolute;
    border-radius: 0px;
    pointer-events: none;
    transition: height 0.1s ease, background-color 0.1s ease;
    z-Index: 2;
    opacity: 0.3!important;
}

.directorMargins {
    position:relative;
    height:90px;
    width:300px;
    margin:0px!important;
    padding:5px!important;
    background-color: transparent!important;
}
.streamID {
    text-align: left;
    position:relative;
    display: inline;
    color: transparent;
}
.contolboxLabel{
    margin:0px!important;
    padding:0px!important;
    display:inline;
    font-size:15px;
    color:#949494;
    top:35px;
    left:95px;
    text-align: left;
    background-color: transparent;
}
.shift {
    display:none;
}
.user-select{
    display:none;
    
}
.la-window-minimize{
        display:none;
}
.la-copy {
        display:none;
}
button[data-action-type="direct-chat"] {
    display:none;
}
div.row.two.settingsWrapper {
    display:none;
}
div.flexBreak {
    display:none;
}
button[data-action-type="toggle-group"] {
    display:none;
}
.controlsGrid .row {
    width:30px;
    height:30px;
}
.controlsGrid .tooltip {
      display:none;
}
button[data-action-type="mute-guest"] {
    position:relative;
    display: inline;
    left:250px!important;
    top:-24px;
    height:30px;
    width:30px;
    border-radius : 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #3c3c3c;
    border-color: #949494!important;
    box-shadow: 0 0 0;
    opacity:0.5; 
}
button[data-action-type="mute-guest"]:hover {
    border-color: white!important;
    opacity:0.8; 
}
.la-microphone-slash {
    color: white!important;
    font-size: 20px!important;
    font-weight:900!important;
}
.pressed {
    margin:0px;
    padding:0px;
    background-color: grey!important;
    color:white;
    border-color: white!important;
    opacity:1!important;
}
span[data-translate="mute"] {
      display:none;    
}
button[data-action-type="hangup"] {
    position:relative;
    height:30px;
    width:30px;
    top:5px;
    left:215px;
    border-radius : 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #3c3c3c;
    border-color: #949494!important;
    box-shadow: 0 0 0;
    opacity:0.5; 
}
button[data-action-type="hangup"]:hover {
    background-color: red;
    border-color: white!important;
    opacity:0.8; 
}
.la-sign-out-alt {
    color: white!important;
    font-size: 20px!important;
    font-weight:900!important;
}
span[data-translate="disconnect-guest"] {
      display:none;    
}
span[data-translate="add-a-label"] {
       display:none;   
}
