#gridlayout {
	background-color:#00000000;
	-webkit-backdrop-filter: blur(200px);
	backdrop-filter: blur(200px);
}
.holder{	
	position:relative!important;
	left:5px!important;
	top:5px!important;
	height:90px!important;
	width:300px!important;
	
}
.container_holder_video {
	position:relative!important;
	left:10px;
	top:0px!important;
	height:90px!important;

}
video {
	position:absolute!important;
	left:5px;
	width:85px!important;
	height:85px!important;
	border-radius:100%!important;
	object-fit:cover!important;
	background-image: url('../images/avatar.png')!important;
	background-size: cover!important;
	background-color: black!important;
}	
canvas {
	position:absolute;
	left:5px;
	width:85px!important;
	height:85px!important;
	border-radius:100%!important;
	object-fit:cover!important;

}
.video-label{
	position:absolute;
	width:200px;
	left:100px;
	font-size:14px!important;
	top:calc(50% - 15px);
	background:unset;
	display: block;
	opacity: 1;
}
